@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Otomanopee+One&display=swap");
@import url("https://use.typekit.net/jhd4pxp.css");
html {
  overflow: auto;
  overflow-x: hidden;
  overflow-y: hidden;
  font-size: 13px;
}

@media screen and (min-width: 900px) {
  html {
    font-size: 16px;
  }
}

@media screen and (min-width: 1200px) {
  html {
    font-size: 18px;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #c5c6cc;
  font-family: "Open Sans", sans-serif;
}

.preloader {
  display: block;
  position: fixed;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  background: radial-gradient(#212733, #0b0c11);
  z-index: 10;
  -webkit-transition: 1s ease-out;
  transition: 1s ease-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.preloader .loader {
  position: absolute;
  height: 11rem;
  width: 11rem;
  border-radius: 50%;
}

.preloader .loader #preloader_logo {
  fill: transparent;
  position: relative;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  stroke: #fff;
  stroke-width: 0.7rem;
  height: 5rem;
  width: auto;
  -webkit-animation: fill 1s ease-in-out forwards 4s infinite alternate;
          animation: fill 1s ease-in-out forwards 4s infinite alternate;
}

.preloader .loader #preloader_logo path:nth-child(1) {
  stroke-dasharray: 2171.9169921875;
  stroke-dashoffset: 2171.9169921875;
  -webkit-animation: stroke-anim 4s ease forwards;
          animation: stroke-anim 4s ease forwards;
}

.preloader .loader #preloader_logo path:nth-child(2) {
  stroke-dasharray: 2351.698486328125;
  stroke-dashoffset: 2351.698486328125;
  -webkit-animation: stroke-anim 4s ease forwards;
          animation: stroke-anim 4s ease forwards;
}

@-webkit-keyframes stroke-anim {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes stroke-anim {
  to {
    stroke-dashoffset: 0;
  }
}

@-webkit-keyframes fill {
  from {
    fill: transparent;
    stroke-width: 0.7rem;
  }
  to {
    stroke-width: 0rem;
    fill: #fff;
  }
}

@keyframes fill {
  from {
    fill: transparent;
    stroke-width: 0.7rem;
  }
  to {
    stroke-width: 0rem;
    fill: #fff;
  }
}

#nav-bar {
  position: absolute;
  max-height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 0.9rem;
  z-index: 4;
}

#nav-bar #logo {
  cursor: pointer;
  position: absolute;
  left: 1.5rem;
  top: 1rem;
  color: #fff;
  font-weight: 600;
  font-size: 1rem;
  z-index: 1;
}

#nav-bar #logo #br_logo {
  width: 2.7rem;
  height: auto;
}

#nav-bar .nav_links {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#nav-bar .nav_links li {
  list-style: none;
  text-decoration: none;
  padding: 0.5rem 1.5rem;
  /* Animation */
}

#nav-bar .nav_links li .nav-active {
  color: #68fbf1;
}

#nav-bar .nav_links li a {
  /* Underline From Center */
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0);
          box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
  padding: 1rem 0.5rem;
  cursor: pointer;
  text-decoration: none;
  font-weight: 600;
  color: #c5c6cc;
}

#nav-bar .nav_links li a:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 51%;
  right: 51%;
  bottom: 0.5rem;
  background: #68fbf1;
  height: 4px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

#nav-bar .nav_links li a:hover:before, #nav-bar .nav_links li a:focus:before, #nav-bar .nav_links li a:active:before {
  left: 0;
  right: 0;
}

#nav-bar .nav_links li button {
  /* Shutter Out Horizontal */
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0);
          box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  background: #c5c6cc;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  display: inline-block;
  cursor: pointer;
  background: none;
  border: 0.2rem solid #c5c6cc;
  padding: 0.3rem 0.6rem;
  color: #c5c6cc;
  font-family: "Montserrat", sans-serif;
  font-size: 0.9rem;
  font-weight: 600;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

#nav-bar .nav_links li button:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #68fbf1;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-transition-property: transform;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

#nav-bar .nav_links li button:hover {
  color: #0b0c11;
}

#nav-bar .nav_links li button:hover:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

#nav-bar .nav_links li a:hover {
  color: #68fbf1;
}

#nav-bar .nav_links li button:hover {
  border-color: #68fbf1;
}

#home .preloader {
  display: block;
  position: fixed;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  background: radial-gradient(#212733, #0b0c11);
  z-index: 10;
  -webkit-transition: 1s ease-out;
  transition: 1s ease-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#home .preloader .loader {
  position: absolute;
  height: 11rem;
  width: 11rem;
  border-radius: 50%;
}

#home .preloader .loader #preloader_logo {
  fill: transparent;
  position: relative;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  stroke: #fff;
  stroke-width: 0.7rem;
  height: 5rem;
  width: auto;
  -webkit-animation: fill 1s ease-in-out forwards 4s infinite alternate;
          animation: fill 1s ease-in-out forwards 4s infinite alternate;
}

#home .preloader .loader #preloader_logo path:nth-child(1) {
  stroke-dasharray: 2171.9169921875;
  stroke-dashoffset: 2171.9169921875;
  -webkit-animation: stroke-anim 4s ease forwards;
          animation: stroke-anim 4s ease forwards;
}

#home .preloader .loader #preloader_logo path:nth-child(2) {
  stroke-dasharray: 2351.698486328125;
  stroke-dashoffset: 2351.698486328125;
  -webkit-animation: stroke-anim 4s ease forwards;
          animation: stroke-anim 4s ease forwards;
}

@keyframes stroke-anim {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes fill {
  from {
    fill: transparent;
    stroke-width: 0.7rem;
  }
  to {
    stroke-width: 0rem;
    fill: #fff;
  }
}

#home canvas {
  background-color: #000;
  background-image: radial-gradient(circle at top right, rgba(121, 68, 154, 0.13), transparent), radial-gradient(circle at 20% 80%, #212733, transparent);
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: -1;
}

#home .social_media {
  z-index: 2;
  max-width: 5rem;
  height: 100%;
  position: absolute;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#home .social_media .sm .sm-btn {
  height: 3rem;
  width: 4rem;
  cursor: pointer;
  background: none;
  border: none;
  font-size: 2rem;
  color: #c5c6cc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0);
          box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-property: transform;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
}

#home .social_media .sm .sm-btn:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  color: #68fbf1;
}

#home .s1 {
  height: 100vh;
  width: 100%;
  background: rgba(11, 12, 17, 0.8);
  position: relative;
}

#home .s1 .div-1 {
  height: 100%;
  width: 100%;
}

#home .s1 .div-1 .inner-div-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10% 0;
  overflow: hidden;
}

#home .s1 .div-1 .inner-div-1 .intro {
  color: #c5c6cc;
  font-size: 2.5rem;
  font-weight: 700;
}

#home .s1 .div-1 .inner-div-1 .intro .iam {
  display: inline-block;
  cursor: pointer;
  font-family: 'Otomanopee One', sans-serif;
  font-weight: 600;
  font-size: 3rem;
  color: #68fbf1;
}

#home .s1 .div-1 .inner-div-1 .intro .iam .iam-content {
  /* Wobble Skew */
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0);
          box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  color: #68fbf1;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

@-webkit-keyframes hvr-wobble-skew {
  16.65% {
    -webkit-transform: skew(-12deg);
    transform: skew(-12deg);
  }
  33.3% {
    -webkit-transform: skew(10deg);
    transform: skew(10deg);
  }
  49.95% {
    -webkit-transform: skew(-6deg);
    transform: skew(-6deg);
  }
  66.6% {
    -webkit-transform: skew(4deg);
    transform: skew(4deg);
  }
  83.25% {
    -webkit-transform: skew(-2deg);
    transform: skew(-2deg);
  }
  100% {
    -webkit-transform: skew(0);
    transform: skew(0);
  }
}

@keyframes hvr-wobble-skew {
  16.65% {
    -webkit-transform: skew(-12deg);
    transform: skew(-12deg);
  }
  33.3% {
    -webkit-transform: skew(10deg);
    transform: skew(10deg);
  }
  49.95% {
    -webkit-transform: skew(-6deg);
    transform: skew(-6deg);
  }
  66.6% {
    -webkit-transform: skew(4deg);
    transform: skew(4deg);
  }
  83.25% {
    -webkit-transform: skew(-2deg);
    transform: skew(-2deg);
  }
  100% {
    -webkit-transform: skew(0);
    transform: skew(0);
  }
}

#home .s1 .div-1 .inner-div-1 .intro .iam .iam-content:hover {
  -webkit-animation-name: hvr-wobble-skew;
  animation-name: hvr-wobble-skew;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

#home .s1 .div-1 .inner-div-1 .intro .desig {
  font-size: 1rem;
  font-weight: 400;
}

#home .s1 .div-1 .inner-div-1 .intro #getintouch {
  /* Forward */
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0);
          box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  background: none;
  width: 9rem;
  font-size: 1rem;
  font-weight: 400;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0.5rem;
  color: #68fbf1;
  border: 2px solid;
  border-radius: 0.3em;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

#home .s1 .div-1 .inner-div-1 .intro #getintouch:hover {
  -webkit-transform: translateX(8px);
  transform: translateX(8px);
}

#home .s1 .div-1 .inner-div-1 .intro #getintouch:hover {
  color: #212733;
  background-color: #68fbf1;
}

#home .s1 .div-1 .inner-div-2 {
  pointer-events: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#home .s1 .div-1 .inner-div-2 .img-developer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 95%;
  height: auto;
  padding-inline: 5%;
}

#home .s1 .div-1 .inner-div-2 .img-developer #svg-developer {
  position: relative;
  width: 95%;
  height: auto;
  bottom: 0rem;
  z-index: 2;
}

#home .s2 {
  position: relative;
  background: #c5c6cc;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#home .s2 .s2_div {
  width: 100%;
  height: 100%;
  padding: 0 0;
}

#home .s2 .s2_div .s2_div1 {
  padding: 15% 0;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#home .s2 .s2_div .s2_div1 .quote_box {
  /* Grow */
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0);
          box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-property: transform;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  min-height: 13rem;
  width: 80%;
  background-color: #0b0c11;
  color: #c5c6cc;
  border-radius: 0.5rem;
  padding: 1rem 1.5rem;
  -webkit-box-shadow: 10px 10px 40px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 10px 10px 40px 0px rgba(0, 0, 0, 0.3);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

#home .s2 .s2_div .s2_div1 .quote_box:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

#home .s2 .s2_div .s2_div1 .quote_box .quote_area .quote_head {
  color: #68fbf1;
  font-size: 2.5rem;
}

#home .s2 .s2_div .s2_div1 .quote_box .quote_area #quote {
  font-weight: 600;
  margin: 0.2rem 1rem;
  font-size: 1.3rem;
  margin: 0 1.5rem;
}

#home .s2 .s2_div .s2_div1 .quote_box .quote_area #quote_by {
  font-family: 'Courier New', Courier, monospace;
  color: #68fbf1;
  text-align: right;
  margin: 1rem 1.5rem;
}

#home .s2 .s2_div .s2_div1 .quote_box:hover {
  -webkit-box-shadow: 10px 10px 40px 0px rgba(0, 0, 0, 0.5);
          box-shadow: 10px 10px 40px 0px rgba(0, 0, 0, 0.5);
}

#home .s2 .s2_div .s2_div2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#home .s2 .s2_div .s2_div2 .highlight {
  height: auto;
  background-color: rgba(71, 162, 153, 0.9);
  width: auto;
  padding: 2.5rem;
}

#home .s2 .s2_div .s2_div2 .highlight .highlights {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#home .s2 .s2_div .s2_div2 .highlight .highlights .h_box {
  cursor: pointer;
  margin: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 10rem;
  height: 10rem;
  border-radius: 0.5rem;
  -webkit-box-shadow: 10px 10px 40px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 10px 10px 40px 0px rgba(0, 0, 0, 0.3);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

#home .s2 .s2_div .s2_div2 .highlight .highlights .h_box .highlight_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  font-weight: 600;
  color: #c5c6cc;
  border: 1px solid #212733;
  border-radius: 0.5rem;
  padding: 0.5rem;
  text-align: center;
}

#home .s2 .s2_div .s2_div2 .highlight .highlights .h_box #highlight_1 {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(11, 12, 17, 0.7)), to(rgba(11, 12, 17, 0.7))), url("../../assets/Images/Portfolio_Website.png");
  background-image: linear-gradient(rgba(11, 12, 17, 0.7), rgba(11, 12, 17, 0.7)), url("../../assets/Images/Portfolio_Website.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#home .s2 .s2_div .s2_div2 .highlight .highlights .h_box #highlight_2 {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(11, 12, 17, 0.7)), to(rgba(11, 12, 17, 0.7))), url("../../assets/Images/Coding.jpg");
  background-image: linear-gradient(rgba(11, 12, 17, 0.7), rgba(11, 12, 17, 0.7)), url("../../assets/Images/Coding.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#home .s2 .s2_div .s2_div2 .highlight .highlights .h_box #highlight_3 {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(11, 12, 17, 0.7)), to(rgba(11, 12, 17, 0.7))), url("../../assets/Images/Covid-19_awareness.PNG");
  background-image: linear-gradient(rgba(11, 12, 17, 0.7), rgba(11, 12, 17, 0.7)), url("../../assets/Images/Covid-19_awareness.PNG");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#home .s2 .s2_div .s2_div2 .highlight .highlights .h_box #highlight_4 {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(11, 12, 17, 0.7)), to(rgba(11, 12, 17, 0.7))), url("../../assets/Images/Photography.PNG");
  background-image: linear-gradient(rgba(11, 12, 17, 0.7), rgba(11, 12, 17, 0.7)), url("../../assets/Images/Photography.PNG");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#home .s2 .s2_div .s2_div2 .highlight .highlights .h_box:hover {
  -webkit-box-shadow: 10px 10px 40px 0px rgba(0, 0, 0, 0.6);
          box-shadow: 10px 10px 40px 0px rgba(0, 0, 0, 0.6);
}

#home footer {
  background: #0b0c11;
  padding: 2rem;
}

#home footer #made_by {
  text-align: center;
  width: 100%;
  box-align: center;
  color: #c5c6cc;
  font-family: "Open Sans", sans-serif;
  font-size: 0.8rem;
  margin: auto;
}

#home footer #copyright {
  text-align: center;
  width: 100%;
  color: rgba(197, 198, 204, 0.5);
  font-family: 'Courier New', Courier, monospace, Helvetica, sans-serif;
  font-size: 0.8rem;
  margin: auto;
}

@media screen and (max-width: 1024px) {
  #nav-bar {
    width: 100%;
    height: 100vh;
    top: 0;
  }
  #nav-bar #logo {
    left: 2rem;
    top: 2rem;
  }
  #nav-bar .nav_links {
    position: absolute;
    background: rgba(33, 39, 51, 0.5);
    -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
    height: 100%;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0;
    margin: 0;
    z-index: 5;
    -webkit-clip-path: circle(0px at 100% 0);
            clip-path: circle(0px at 100% 0);
    -webkit-transition: all 0.8s ease-in-out;
    transition: all 0.8s ease-in-out;
  }
  #nav-bar .nav_links li {
    width: 20rem;
    padding: 0.5rem;
    margin: 0.1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #nav-bar .nav_links li .nav-active {
    background: #68fbf1;
    color: #212733;
  }
  #nav-bar .nav_links li a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    background: #c5c6cc;
    color: #212733;
    font-size: 1.3rem;
  }
  #nav-bar .nav_links li button {
    margin-top: 5rem;
    font-size: 1.3rem;
  }
  #nav-bar .nav_links.open {
    -webkit-clip-path: circle(2000px at 100% 0);
            clip-path: circle(2000px at 100% 0);
  }
  .hamburger {
    position: absolute;
    cursor: pointer;
    right: 2em;
    top: 1em;
    z-index: 5;
  }
  .hamburger .hamburger_line {
    margin: 0.3em;
    height: 0.3em;
    width: 2em;
    background-color: #c5c6cc;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  .hamburger.open .hamburger_line:nth-child(1) {
    background-color: transparent;
  }
  .hamburger.open .hamburger_line:nth-child(2) {
    height: 0.2em;
    -webkit-transform: translateY(0.5em) rotate(45deg);
            transform: translateY(0.5em) rotate(45deg);
  }
  .hamburger.open .hamburger_line:nth-child(3) {
    height: 0.2em;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  #home .s1 .div-1 .inner-div-1 {
    padding: 0;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    overflow: hidden;
  }
  #home .s1 .div-1 .inner-div-2 {
    height: 40vh;
  }
  #home .s1 .div-1 .img-developer #svg-developer {
    position: relative;
    width: 95%;
    height: auto;
    max-height: 125%;
    bottom: 0rem;
  }
}

@media screen and (max-width: 640px) {
  .social_media .sm {
    position: absolute;
    top: 60%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

#about .s1 {
  min-height: 100vh;
  width: 100%;
  background: #0b0c11;
}

#about .s1 .div1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
}

#about .s1 .div1 .in-div {
  width: 85%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#about .s1 .div1 .in-div h1 {
  padding: 1rem;
  color: #68fbf1;
  font-size: 2rem;
  font-weight: 800;
  font-family: "Open Sans", sans-serif;
}

#about .s1 .div1 .in-div p {
  padding: 1rem;
  color: #c5c6cc;
  font-size: 1.2rem;
  font-family: "Poppins", sans-serif;
}

#blog .s1 {
  height: 100vh;
  width: 100%;
  background: #0b0c11;
}

#blog .s1 .div-1 {
  position: absolute;
  height: 100vh;
  width: 100%;
  background: linear-gradient(-45deg, #212733, #0b0c11);
  background-size: 400% 400%;
  -webkit-animation: gradient 15s ease infinite;
          animation: gradient 15s ease infinite;
}

#blog .s1 .div-1 .in-div-1 {
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#blog .s1 .div-1 .in-div-1 .coming-soon {
  position: relative;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#blog .s1 .div-1 .in-div-1 .coming-soon .c-s {
  text-align: center;
  color: #c5c6cc;
  font-size: 3rem;
  font-weight: 600;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  cursor: pointer;
}

#blog .s1 .div-1 .in-div-1 .coming-soon .c-s:hover {
  -webkit-animation: wobble-hor-bottom 0.8s ease both;
          animation: wobble-hor-bottom 0.8s ease both;
}

@-webkit-keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@-webkit-keyframes wobble-hor-bottom {
  0%,
  100% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  15% {
    -webkit-transform: translateX(-30px) rotate(-6deg);
    transform: translateX(-30px) rotate(-6deg);
  }
  30% {
    -webkit-transform: translateX(15px) rotate(6deg);
    transform: translateX(15px) rotate(6deg);
  }
  45% {
    -webkit-transform: translateX(-15px) rotate(-3.6deg);
    transform: translateX(-15px) rotate(-3.6deg);
  }
  60% {
    -webkit-transform: translateX(9px) rotate(2.4deg);
    transform: translateX(9px) rotate(2.4deg);
  }
  75% {
    -webkit-transform: translateX(-6px) rotate(-1.2deg);
    transform: translateX(-6px) rotate(-1.2deg);
  }
}

@keyframes wobble-hor-bottom {
  0%,
  100% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  15% {
    -webkit-transform: translateX(-30px) rotate(-6deg);
    transform: translateX(-30px) rotate(-6deg);
  }
  30% {
    -webkit-transform: translateX(15px) rotate(6deg);
    transform: translateX(15px) rotate(6deg);
  }
  45% {
    -webkit-transform: translateX(-15px) rotate(-3.6deg);
    transform: translateX(-15px) rotate(-3.6deg);
  }
  60% {
    -webkit-transform: translateX(9px) rotate(2.4deg);
    transform: translateX(9px) rotate(2.4deg);
  }
  75% {
    -webkit-transform: translateX(-6px) rotate(-1.2deg);
    transform: translateX(-6px) rotate(-1.2deg);
  }
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ffffff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
/*# sourceMappingURL=style.css.map */