#about{
    .s1{
        min-height: 100vh;
        width: 100%;
        background: rgba($color: $color5, $alpha: 1) ;
        .nav-bar{
            position: absolute;
                max-height: 100vh;
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                font-family: $font1;
                font-weight: 500;
                font-size: 0.9rem;
                #logo{
                    cursor: pointer;
                    position: absolute;
                    left: 1.5rem;
                    top: 1rem;
                    color: #fff;
                    font-weight: 600;
                    font-size: 1rem;
                    z-index: 1;
                    #br_logo{
                        width: 2.7rem;
                        height: auto;
                    }
                }
            .nav_links{
                width: 100%;
                display: flex;
                justify-content: flex-end;
                align-items: center;
                li{
                    list-style: none;
                    text-decoration: none;
                    padding: 0.5rem 1.5rem;
                    .nav-active{
                        color: $color2;
                    }
                    a{
                        @import "./effects/border-transitions/underline-from-center";
                        @include underline-from-center();
                        padding:1rem 0.5rem;
                        cursor: pointer;
                        text-decoration: none;
                        font-weight: 600;
                        color: $color1;
                    }
                    button{
                        @import "./effects/background-transitions/shutter-out-horizontal";
                        @include shutter-out-horizontal();
                        display: inline-block;
                        cursor: pointer;
                        background:none;
                        border: 0.2rem solid $color1;
                        padding: 0.3rem 0.6rem;

                        color: $color1;
                        font-family: $font1;
                        font-size: 0.9rem;
                        font-weight: 600;
                        transition: 0.3s ease-in-out;
                    }
                    /* Animation */
                    a:hover{
                        color: $color2;
                    }
                    button:hover{
                        border-color: $color2;
                    }
                }            
            }
        }
        .div1{
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            flex-direction: column;
            width: 100%;
            height: 100%;

            .in-div{
                width: 85%;
                height: auto;

                display: flex;
                justify-content: center;
                align-items: center;
                h1{
                    padding: 1rem;
                    color: rgba($color: $color2 , $alpha: 1.0);
                    font-size: 2rem;
                    font-weight: 800;
                    font-family: $font2;
                }
                p{
                    padding: 1rem;
                    color: rgba($color: $color1, $alpha: 1.0);
                    font-size: 1.2rem;
                    font-family: $font3;
                    
                }
            }
        }
    }
}

@media screen and (max-width:1024px) {
    #about {
        .s1{
            .nav-bar{
                width: 100%;
                height: 100vh;
                top: 0;
                #logo{
                    left: 2rem;
                    top: 2rem;
                }
                .nav_links{
                    position: absolute;
                    background: rgba($color: $color4, $alpha: 0.5);
                    backdrop-filter: blur(10px);
                    height: 100%;
                    width: 100%;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;  
                    padding: 0;
                    margin: 0;
                    z-index: 5;      
                    li{
                        width: 20rem;
                        padding: 0.5rem;
                        margin: 0.1rem;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        .nav-active{
                            background: $color2;
                            color: $color4;
                        }
                        a{
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            width: 100%;
                            background: $color1;
                            color: $color4;
                            font-size: 1.3rem;
                        }
                        button{
                            margin-top: 5rem;
                            font-size: 1.3rem;
                        }
                    }
                    clip-path: circle(0px at 100% 0);
                    transition: all 0.8s ease-in-out;
                }
                .nav_links.open{
                    clip-path: circle(2000px at 100% 0);
                }
            }
            .hamburger
            {
                position: absolute;
                cursor: pointer;
                right: 2em;
                top: 1em;
                z-index: 5;
                .hamburger_line{
                    margin: 0.3em;
                    height: 0.3em;
                    width: 2em;
                    background-color: $color1;
                    transition: all 0.5s ease-in-out;
                }
            }
            .hamburger.open{
                .hamburger_line:nth-child(1){
                    background-color: transparent;
                }
                .hamburger_line:nth-child(2){
                    height: 0.2em;
                    transform: translateY(0.5em) rotate(45deg);
                }
                .hamburger_line:nth-child(3){
                    height: 0.2em;
                    transform: rotate(-45deg);
                }
            }
        }
    }
}