body{
    background-color: $color1;
    font-family: $font2;
    font-size: 1rem;
}
section{
    width: 100%;
    background-color: $color5;
    nav{
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: $font1;
        font-weight: 500;
        padding: 0 1rem;
        ul{
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: auto;
            li{
                list-style: none;
                text-decoration: none;
                padding: 1rem 1.5rem;
                a{
                    cursor: pointer;
                    text-decoration: none;
                    font-weight: 600;
                    color: $color1;
                    transition: 0.3s ease-in-out;
                }
                button{
                    display: inline-block;
                    cursor: pointer;
                    background-color: $color5;
                    border: 0.2rem solid $color1;
                    border-radius: 1rem;
                    padding: 0.3rem 0.6rem;

                    color: $color1;
                    font-family: $font1;
                    font-size: 1rem;
                    font-weight: 600;
                    
                    transition: 0.3s ease-in-out;
                }
                /* Animation */

                a:hover{
                    color: $color2;
                }
                button:hover{
                    color: $color1;
                    background-color: $color2;
                    border-color: $color2;
                }
            }
        }
    }
}