@import url('https://fonts.googleapis.com/css2?family=Otomanopee+One&display=swap');

//font-family: 'Otomanopee One', sans-serif;

body{
    background-color: $color1;
    font-family: $font2;
    font-size: 1rem;
}
section{
    height: 100vh;
    width: 100%;
    background-color: $color5;
    overflow: hidden;
    .nav-bar{
        z-index: 1;
        position: absolute;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: $font1;
        font-weight: 500;
        font-size: 0.9rem;
        #logo{
            position: absolute;
            left: 10px;
            top: 20px;
            color: #fff;
            font-weight: 600;
            font-size: 1rem;
            z-index: 1;
        }
        .nav_links{
            width: 100%;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            li{
                list-style: none;
                text-decoration: none;
                padding: 0.5rem 1.5rem;
                .nav-active{
                    color: $color2;
                }
                a{
                    @import "./effects/border-transitions/underline-from-center";
                    @include underline-from-center();
                    padding:1rem 0.5rem;
                    cursor: pointer;
                    text-decoration: none;
                    font-weight: 600;
                    color: $color1;
                }
                button{
                    @import "./effects/background-transitions/shutter-out-horizontal";
                    @include shutter-out-horizontal();
                    display: inline-block;
                    cursor: pointer;
                    background:none;
                    border: 0.2rem solid $color1;
                    //border-radius: 1rem;
                    padding: 0.3rem 0.6rem;

                    color: $color1;
                    font-family: $font1;
                    font-size: 0.9rem;
                    font-weight: 600;
                }
                /* Animation */

                a:hover{
                    color: $color2;
                }
                /*
                button:hover{
                    color: $color5;
                    background-color: $color2;
                    border-color: $color2;
                }
                */
            }
        }
    }
    .div-1{
        height: 100%;
        width: 100%;
        .inner-div-1{
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 10% 0;
            .intro{
                color: $color1;
                font-size: 2.5rem;
                font-weight: 700;
                .iam{
                    display: inline-block;
                    cursor: pointer;
                    font-family: 'Otomanopee One', sans-serif;
                    font-weight: 600;
                    font-size: 3rem;
                    color: $color2;
                    .iam-content{
                        @import "./effects/2d-transitions/wobble-skew";
                        @include wobble-skew();
                        color: $color2;
                        transition: 0.3s ease-in-out;
                    }
                }
                .desig{
                    font-size: 1rem;
                    font-weight: 400;
                }
                #getintouch{
                    @import "./effects/2d-transitions/forward";
                    @include forward();
                    width: 9rem;
                    font-size: 1rem;
                    font-weight: 400;
                    cursor: pointer;
                    display: flex;
                    justify-content: center;
                    padding: 0.5rem;
                    color: $color2;
                    border: 2px solid;
                    border-radius: 0.3em;
                    transition: 0.3s ease-in-out;
                }
                #getintouch:hover{
                    color: $color4;
                    background-color: $color2;
                }
            }
            overflow: hidden;
        }
        .inner-div-2{
            display: flex;
            .img-developer{
                display: flex;
                align-items: flex-end;
                justify-content: center;
                width: 95%;
                height: auto;
                padding-inline: 5%;
                #svg-developer{
                    position: relative;
                    width: 95%;
                    height: auto;
                    bottom: 0rem;
                }
            }
        }
    }
}

@import "./mx_1200";