@media screen and (max-width:1024px) {
    .s1{
        .nav-bar{
            width: 100%;
            height: 100vh;
            top: 0;
            #logo{
                left: 2rem;
                top: 2rem;
            }
            .nav_links{
                position: absolute;
                background: rgba($color: $color4, $alpha: 0.5);
                backdrop-filter: blur(10px);
                height: 100%;
                width: 100%;
                flex-direction: column;
                justify-content: center;
                align-items: center;  
                padding: 0;
                margin: 0;
                z-index: 5;      
                li{
                    width: 20rem;
                    padding: 0.5rem;
                    margin: 0.1rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    .nav-active{
                        background: $color2;
                        color: $color4;
                    }
                    a{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 100%;
                        background: $color1;
                        color: $color4;
                        font-size: 1.3rem;
                    }
                    button{
                        margin-top: 5rem;
                        font-size: 1.3rem;
                    }
                }
                clip-path: circle(0px at 100% 0);
                transition: all 0.8s ease-in-out;
            }
            .nav_links.open{
                clip-path: circle(2000px at 100% 0);
            }
        }
        .hamburger
        {
            position: absolute;
            cursor: pointer;
            right: 2em;
            top: 1em;
            z-index: 5;
            .hamburger_line{
                margin: 0.3em;
                height: 0.3em;
                width: 2em;
                background-color: $color1;
                transition: all 0.5s ease-in-out;
            }
        }
        .hamburger.open{
            .hamburger_line:nth-child(1){
                background-color: transparent;
            }
            .hamburger_line:nth-child(2){
                height: 0.2em;
                transform: translateY(0.5em) rotate(45deg);
            }
            .hamburger_line:nth-child(3){
                height: 0.2em;
                transform: rotate(-45deg);
            }
        }
        .div-1{
            .inner-div-1{
                padding: 0;
                align-items: flex-end;
                overflow: hidden;
            }
            .inner-div-2{
                height: 40vh;
            }
            .img-developer{
                #svg-developer{
                    position: relative;
                    width: 95%;
                    height: auto;
                    max-height: 125%;
                    bottom: 0rem;
                }
            }
        }
    }
}

